<div class="main-list-container center">
    
    <div>
        <h2>ADS</h2>
        <!-- <p><img src="assets/img/geographer-ad.png" alt=""></p> -->
        <p>{{this.adName}}</p>
        <p><img [src]="adUrl"></p>
        <!-- <div style="height: 500px">
            <h2>ADS</h2>
            <div *ngFor="let adList of adList">
                <p>{{adList.adUrl}}</p>
                <p>{{song.artist}}</p>
            </div>
        </div> -->
        
    </div>
    <div>
        <h2>NEXT UP SONGS</h2>
        <!-- displays song name  -->
        <p>{{this.songName}}</p>
        <!-- <p><img [src]="this.songImg" alt=""></p> -->
        <!-- <div *ngFor="let song of songs">
            <p>{{song.name}}</p>
           
        </div> -->
    </div>
    
</div>


<!-- <div style="text-align: center;">
    <h1>NOW PLAYING</h1>
</div> -->

<!-- <div style="background-image: url('assets/img/concert.jpg');" fxLayout="row">
    <div style="color: #fff;">NOW PLAYING</div>
    <div fxFlex="50">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list>
    </div>
</div> -->