<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    Value: {{ registerForm.value | json }}

    <label>
      First Name:
      <input type="text" formControlName="firstName" required>
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName" required>
    </label>
  
    <label>
      Email:
      <input type="email" formControlName="email" required>
    </label>
   
   <label>
      Password:
      <input type="text" formControlName="password" required>
    </label>
  
    <label>
      Date of Birth:
      <input type="date" formControlName="dateOfBirth">
    </label>
  
    <button type="submit" [disabled]="!registerForm.valid">Submit</button>
  </form>
  