<p>register here!</p>

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <mat-form-field>
    <input matInput formControlName="firstName" placeholder="Your first name">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="lastName" placeholder="Your last name">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Your email">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput formControlName="password" placeholder="Your password">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput formControlName="DOB" placeholder="Your DOB" matInput [matDatepicker]="myDatepicker"> 
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>
  
  <div *ngIf="myForm.invalid">please fill out</div>

  <button type="submit" [disabled]="myForm.invalid" (click)="onSubmit()">Register</button>

  </form>


  
<!-- ------------------------------------------------- -->
<!-- 
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <input formControlName="name" placeholder="Your name">
  
    <p>Your choosen name: {{ myForm.get('name').value }}</p>
    <div *ngIf="myForm.get('name').hasError('required')">
      Oops, please provide a name!
    </div>
  
    <input formControlName="email" placeholder="Your email">
  
    <div *ngIf="myForm.controls.email.hasError('pattern')">
      Oops, wrong pattern buddy!
    </div>
  
    <input formControlName="message" placeholder="Your message">
  
    <div *ngIf="myForm.controls.message.errors.minlength">
      Write something longer please!
    </div>
  
    
  </form> -->