<p>register here!</p>
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <input formControlName="firstName" placeholder="Your first name">
    <input formControlName="lastName" placeholder="Your last name">
    <input formControlName="email" placeholder="Your email">
    <input formControlName="password" placeholder="Your password">
    <input formControlName="DOB" placeholder="Your DOB">
  
    <div *ngIf="myForm.invalid">please fill out</div>

    <!-- <button type="submit">Send</button> -->
    <button type="submit" [disabled]="myForm.invalid" (click)="onSubmit()">Register</button>
  </form>

<!-- ------------------------------------------------- -->
<!-- 
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <input formControlName="name" placeholder="Your name">
  
    <p>Your choosen name: {{ myForm.get('name').value }}</p>
    <div *ngIf="myForm.get('name').hasError('required')">
      Oops, please provide a name!
    </div>
  
    <input formControlName="email" placeholder="Your email">
  
    <div *ngIf="myForm.controls.email.hasError('pattern')">
      Oops, wrong pattern buddy!
    </div>
  
    <input formControlName="message" placeholder="Your message">
  
    <div *ngIf="myForm.controls.message.errors.minlength">
      Write something longer please!
    </div>
  
    
  </form> -->